aiobotocore==2.12.3
aiofiles==24.1.0
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
automodel==0.5.9
autopep8
Babel
backoff==2.2.1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
dataclasses-json==0.6.7
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docstring_parser==0.16
docutils
emoji==2.14.1
et-xmlfile
eval_type_backport==0.2.2
executing
faiss-cpu==1.10.0
fastjsonschema
filelock
filetype==1.2.0
fire==0.7.0
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet
h11
h5py
HeapDict
holoviews
html5lib==1.1
httpcore
httpx
httpx-sse==0.4.0
huggingface-hub==0.28.1
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpath-python==1.0.6
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.3.7
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistral_common==1.5.2
mistral_inference==1.5.0
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
olefile==0.47
openpyxl
orjson==3.10.15
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
plumbum==1.9.0
ply
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypdf==5.2.0
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-iso639==2025.1.28
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-magic==0.4.27
python-oxmsg==0.0.2
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
RapidFuzz==3.12.1
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rpyc==6.0.1
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs
safetensors==0.5.2
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
sentence-transformers==3.4.1
sentencepiece==0.2.0
service-identity
setuptools==75.1.0
simple-parsing==0.1.7
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy==1.13.1
tables
tabulate
tblib
tenacity
termcolor==2.5.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tiktoken==0.7.0
tinycss2
tldextract
tokenizers==0.21.0
toml
tomli
tomlkit
toolz
torch==2.6.0
tornado
tqdm
traitlets
transformers==4.48.2
truststore
Twisted
twisted-iocpsupport
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
unstructured==0.16.20
unstructured-client==0.29.0
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.44.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xformers==0.0.29.post2
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
pip==25.0.1