aiobotocore 
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aioitertools==0.12.0
aiosignal==1.3.2
alabaster==1.0.0
altair==5.5.0
anaconda-anon-usage 
anaconda-catalogs 
anaconda-cli-base==0.4.2
anaconda-client 
anaconda-cloud-auth==0.7.2
anaconda-navigator 
anaconda-project 
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
archspec==0.2.5
argon2-cffi==23.1.0
argon2-cffi-bindings
arrow==1.3.0
astroid==3.3.8
astropy==7.0.1
astropy-iers-data==0.2025.2.10.0.33.26
asttokens==3.0.0
async-lru 
asyncssh==2.19.0
atomicwrites==1.4.0
attrs==25.1.0
Automat==24.8.1
automodel==0.5.9
autopep8 
babel==2.17.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.13.3
binaryornot 
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blosc2==3.0.0
bokeh==3.6.3
boltons==25.0.0
botocore 
Bottleneck==1.4.2
Brotli==1.1.0
cachetools==5.5.1
certifi==2025.1.31
cffi 
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama 
colorcet 
comm==0.2.2
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack==0.8.1
conda-package-handling==2.4.0
conda-repo-cli 
conda-token 
conda_index 
conda_package_streaming==0.11.0
constantly
contourpy==1.3.1
cookiecutter 
cryptography==44.0.1
cssselect
cycler==0.12.1
cytoolz==1.0.1
dask==2025.1.0
dask-expr==2.0.0
dataclasses-json==0.6.7
datashader==0.17.0
debugpy==1.8.12
decorator 
defusedxml
Deprecated==1.2.18
diff-match-patch==20241021
dill==0.3.9
distributed==2025.1.0
distro 
docstring-to-markdown==0.15
docstring_parser==0.16
docutils==0.21.2
emoji==2.14.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
executing==2.2.0
faiss-cpu==1.10.0
fastjsonschema==2.21.1
filelock==3.17.0
filetype==1.2.0
fire==0.7.0
flake8==7.1.1
Flask==3.1.0
fonttools==4.56.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.2.0
gensim 
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
h11 
5py==3.12.1
HeapDict 
holoviews==1.20.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
hvplot==0.11.2
hyperlink 
idna==3.10
imagecodecs==2024.12.30
imageio==2.37.0
imagesize 
imbalanced-learn==0.13.0
importlib_metadata==8.6.1
incremental==24.7.2
inflection 
iniconfig==2.0.0
intake==2.0.8
intel-cmplr-lib-ur==2025.0.5
intel-openmp==2025.0.5
intervaltree 
ipykernel==6.29.5
ipython==8.32.0
ipython-genutils 
ipywidgets==8.1.5
isoduration==20.11.0
isort==6.0.0
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous 
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jellyfish==1.1.3
Jinja2==3.1.5
jmespath 
joblib 
json5==0.10.0
jsonpatch 
jsonpath-python==1.0.6
jsonpointer==2.1
jsonschema 
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console 
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core 
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server 
jupyterlab_widgets==3.0.13
keyring==25.6.0
kiwisolver==1.4.8
langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.3.7
lazy-object-proxy 
lazy_loader 
lckr_jupyterlab_variableinspector==3.2.4
libarchive-c 
libmambapy 
linkify-it-py==2.0.3
llvmlite==0.44.0
lmdb==1.6.2
locket 
lxml==5.2.1
lz4==4.4.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe 
mdit-py-plugins==0.4.2
mdurl==0.1.2
menuinst 
mistral_common==1.5.2
mistral_inference==1.5.0
mistune==3.1.1
mkl==2025.0.1
mkl-service==2.4.0
mkl_fft==1.3.11
mkl_random==1.2.8
more-itertools==10.6.0
mpmath
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
mypy==1.15.0
mypy-extensions
narwhals==1.26.0
navigator-updater 
nbclient==0.10.2
nbconvert==7.16.6
nbformat 
ndindex==1.9.2
nest-asyncio
networkx==3.4.2
nltk  
notebook==7.3.2
notebook_shim==0.2.4
numba==0.61.0
numexpr==2.10.2
numpy 
numpydoc==1.8.0
olefile==0.47
openpyxl 
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
panel==1.6.0
param==2.2.0
paramiko==3.5.1
parsel==1.10.0
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==1.0.1
pexpect==4.9.0
pickleshare
pillow 
pkce 
pkginfo==1.12.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
plumbum==1.9.0
ply 
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
Protego==0.4.0
protobuf==4.25.3
psutil==6.1.1
ptyprocess 
pure_eval==0.2.3
py-cpuinfo 
pyarrow==19.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle==2.12.1
pycosat 
pycparser==2.22
pyct 
pycurl==7.45.4
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydocstyle 
pyerfa==2.0.1.5
pyflakes
PyGithub==2.5.0
Pygments==2.19.1
PyJWT==2.10.1
pylint==3.3.4
pylint-venv==3.0.4
pyls-spyder==0.4.0
PyNaCl 
pyodbc==5.2.0
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==5.2.0
PyQt5==5.15.10
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.6
PySocks 
pytest==8.3.4
python-dateutil 
python-dotenv==1.0.1
python-iso639==2025.1.28
python-json-logger==3.2.1
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server==1.12.2
python-magic==0.4.27
python-oxmsg==0.0.2
python-slugify==8.0.4
pytoolconfig==1.3.1
pytz==2025.1
pyuca==1.2
pyviz_comms==3.0.4
PyWavelets==1.8.0
pywin32==305.1
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.2.1
QDarkStyle 
qstylizer==0.2.4
QtAwesome 
qtconsole==5.6.1
QtPy==2.4.3
queuelib==1.7.0
RapidFuzz==3.12.1
readchar==4.2.1
referencing==0.36.2
regex==2024.11.6
requests
requests-file==2.1.0
requests-toolbelt 
rfc3339-validator 
rfc3986-validator 
rich==13.9.4
rope==1.13.0
rpds-py==0.22.3
rpyc==6.0.1
Rtree==1.3.0
ruamel-yaml-conda 
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3fs==2025.2.0
safetensors==0.5.2
scikit-image==0.25.1
scikit-learn==1.6.1
scipy 
Scrapy==2.12.0
seaborn 
semver==3.0.4
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
service-identity==24.2.0
setuptools==75.1.0
shellingham==1.5.4
simple-parsing==0.1.7
sip==6.10.0
six==1.17.0
sklearn-compat==0.1.3
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer 
sortedcontainers
soupsieve==2.6
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath 
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spyder==6.0.4
spyder-kernels==3.0.3
SQLAlchemy==2.0.38
stack-data==0.6.3
statsmodels==0.14.4
streamlit==1.42.0
superqt==0.7.1
sympy==1.13.1
tables==3.10.2
tabulate 
tbb==2022.0.0
tblib==3.0.0
tcmlib==1.2.0
tenacity==9.0.0
termcolor==2.5.0
terminado==0.18.1
text-unidecode 
textdistance==4.6.3
threadpoolctl
three-merge 
tifffile==2025.1.10
tiktoken==0.7.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.21.0
toml 
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets @ work
transformers==4.48.2
truststore==0.10.1
Twisted==24.11.0
twisted-iocpsupport==1.0.4
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
ujson @ 
umf==0.9.1
unicodedata2==16.0.0
Unidecode @ work
unstructured==0.16.20
unstructured-client==0.29.0
uri-template==1.3.0
urllib3==2.3.0
w3lib==2.3.1
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings
websocket-client
Werkzeug==3.1.3
whatthepatch==1.0.7
wheel==0.44.0
widgetsnbextension==4.0.13
win-inet-pton 
wrapt==1.17.2
xarray==2025.1.2
xformers==0.0.29.post2
xlwings==0.33.7
xyzservices==2025.1.0
yapf==0.43.0
yarl==1.18.3
zict 
zipp==3.21.0
zope.interface==7.2
zstandard

pip==25.0.1